<div class="col warning-banner pt-3 px-3 mb-4">
    <div class="row">
        <div class="col-1">
            <i class="fa fa-exclamation-triangle mt-2 mr-2 list-item-warning"></i>
        </div>
        <div class="col-11">
            <div class="row">
                <div class="col">
                    <p class="primary"><strong><%= registrationAuthority %></strong> indicated your chosen institute may not have access to this service.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Choose an alternative institute or try <a href="#">other access options</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
