<div class="row">
    <div class="col py-2 px-4">
        <i id="learn-more-close" class="fa fa-times"></i>
        <p>
            The institution you select will be saved in the browser local storage of this device and will be made
            available to this and other sites that use <a href="{{service_url}}">{{service_name}}</a>. You
            may clear your browser local storage at any time.
        </p>

        <p>
            No login, email or personal information is stored.
        </p>

        <p class="text-center mb-0">
            <a href="{{learn_more_url}}">
                Additional Privacy Information
            </a>
        </p>
    </div>
</div>
