<div class="row">
    <div class="col py-2 px-4">
        <i id="learn-more-close" class="fa fa-times"></i>
        <p>
            <span data-i18n="ds-notice-and-consent-banner-storage-info">The institution you select will be saved in this browser's local storage and will be made available to this and other sites that use SeamlessAccess. You may clear your browser local storage at any time.</span>
        </p>

        <p data-i18n="ds-notice-and-consent-banner-personal-info">
            No login, email or personal information is stored.
        </p>

        <p class="text-center mb-0">
            <a href="{{learn_more_url}}" data-i18n="ds-notice-and-consent-banner-more-info">
                Additional Privacy Information
            </a>
        </p>
    </div>
</div>
