<div class="row">
    <div class="col py-2 px-4">
        <i id="learn-more-close" class="fa fa-times"></i>
        <p>
            The institution you select will be saved in this device's browser storage
            for use with thiss and other sites that use <a href="https://seamlessaccess.org">SeamlessAccess</a>.
            You may clear your browser storage at any time.
        </p>

        <p>
            No login, email or personal information is stored.
        </p>

        <p class="text-center mb-0">
            <a href="{{learn_more_url}}">
                Additional Privacy Information
            </a>
        </p>
    </div>
</div>
