<div class="row">
    <div class="col col-auto pr-3">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" checked="checked" id="rememberThisChoice">
            <label class="custom-control-label" for="rememberThisChoice">
                Remember this choice
            </label>
        </div>
    </div>
    <div class="col pl-2">
        <p class="mb-0">
            <a id="learn-more-trigger" href="{{learn_more_url}}">Learn More</a>
        </p>
    </div>
</div>
