<a class="identityprovider" tabindex="0" data-href="{{entity_id}}">
    <li class="institution clearfix">
        <i class="institution-remove remove top-right fa fa-times d-none" tabindex="0" aria-label="Remove {{title}}" aria-describedby="Remove {{title}}"></i>
        {{#entity_icon}}
        <div class="institution-mask">
            <img class="institution-icon" alt="{{name_tag}}" src="{{entity_icon}}" />
        </div>
        {{/entity_icon}}
        {{#entity_icon_url}}
        <div class="institution-mask">
            <img class="institution-icon" alt="{{name_tag}}" src="{{entity_icon_url.url}}" />
        </div>
        {{/entity_icon_url}}
        {{^entity_icon_url}}
        {{^entity_icon}}
            <svg class="institution-icon logo"
                 width="40"
                 height="40">
                <circle cx="20" cy="20" r="20" fill="#aeaeae" />
                <text x="50%"
                      y="50%"
                      text-anchor="middle"
                      fill="white"
                      font-size="12px"
                      font-family="Arial"
                      dy=".3em">{{name_tag}}</text>
            </svg>
        {{/entity_icon}}
        {{/entity_icon_url}}
        <div class="institution-text">
            <i class="institution-select arrow fa fa-angle-right"></i>
            <div class="primary">{{title}}</div>
            <span class="secondary">{{domain}}</span>
        </div>
    </li>
</a>
