<li class="col list-item pb-0" aria-label="Select <%= title %>" tabindex="0">
    <a class="row institution identityprovider" data-href="<%= entity_id %>">
        <div class="col-9 pl-0">
                    <span class="top-right institution-remove remove d-none">
            <svg class="svg-inline--fa fa-times fa-w-11" tabindex="0" aria-labelledby="Remove Institute from remembered institutions" focusable="true" data-prefix="fa" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
        </span>
            <% if (entity_icon) { %>
            <div class="institution-mask">
                <img class="institution-icon" alt="<%= name_tag %>" src="<%= entity_icon %>" />
            </div>
            <% } else if (entity_icon_url) { %>
            <div class="institution-mask">
                <img class="institution-icon" alt="<%= name_tag %>" src="<%= entity_icon_url.url %>" />
            </div>
            <% } else if (!entity_icon && !entity_icon_url) { %>
            <svg class="institution-icon logo"
                 width="40"
                 height="40">
                <circle cx="20" cy="20" r="20" fill="#aeaeae" />
                <text x="50%"
                      y="50%"
                      text-anchor="middle"
                      fill="white"
                      font-size="12px"
                      font-family="Arial"
                      dy=".3em"><%= name_tag %></text>
            </svg>
            <% } %>

            <div class="text-truncate label primary"><%= title %></div>
            <div class="text-truncate label-url secondary"><%= domain %></div>
        </div>
        <% if(!strictProfile){ %>
            <% if(!hint){ %>
            <div class="col-3 pr-0">
                <i class="fa fa-exclamation-triangle mt-2 mr-2 list-item-warning"></i>
            </div>
            <% } %>
        <% } %>
        <i class="arrow fa fa-angle-right"></i>
    </a>
</li>
