<!DOCTYPE html>
<html>
  <head>
      <title data-i18n="ps-index-title">The Identity Selector: Persistence Service</title>
      <meta charset="utf-8">
  </head>
  <body>
    <input type="checkbox" id="ps-checkbox-adv" class="checkbox-in-iframe" />
  </body>
</html>
