<!DOCTYPE html>
<head>
    <title data-i18n="ds-result-title">The Identity Selector</title>
</head>

<body>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3" data-i18n="ds-result-sp-login">Thiss.io SP Login</h1>
                <div>
                  <p data-i18n="ds-result-chosen-to-login">You have chosen to log in with <span id="choice"></span></p>
                  <p><a href="<%= process.env.BASE_URL %>" data-i18n="ds-result-back-to-start">Back to start</a></p>
                </div>
            </div>
        </div>
    </main>
</body>

