{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ]
  ],
  "env": {
    "production": {
      "presets": ["minify","transform-remove-console"]
    }
  }
}
