{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.38.1"
      }
    ],
    "@babel/flow",
    "@babel/react"
  ],
  "env": {
    "production": {
      "presets": ["minify","transform-remove-console"]
    }
  }
}
