<div class="row">
    <div class="col">
        <h2 class="primary">
            Remembered Institutions
        </h2>

        <p>
            If you choose Remember this choice, this device;s browser will
            store the name and URL of the institutions you select so that
            you won't need to find your institutions when accessing content,
            tools or services from other participating providers.
        </p>

        <h2 class="primary">
            No personal information is stored.
        </h2>

        <p>
            Other information such as your email or institutional login is
            not stored. You may clear your browser storage at any time.
        </p>

        <p class="text-center mb-0">
            <a href="#">
                Additional Privacy Information
            </a>
        </p>
    </div>
</div>
