<!DOCTYPE html>
<html>
<head></head>
<body>
    <div class="d-flex sa-button" role="button">
        <div class="sa-button-logo-wrap">
            <img inline class="sa-button-logo" alt="Seamless Access Logo" src="../assets/sa-white.svg"/>
        </div>
        <div class="d-flex justify-content-center align-items-center sa-button-text text-truncate">
            <div class="sa-button-text-primary text-truncate" data-i18n="ds-button-access-through">Access through your institution</div>
        </div>
    </div>
    <div class="sa-access-text text-truncate">
        <i class="sa-cta-plus"><img src="../assets/sa-pen.svg" alt="Edit Icon"/></i>
        <div class="sa-cta-access"><span data-i18n="ds-button-add-or-change">Add or Change Institution</span></div>
    </div>
</body>
</html>
