@import "./main";

body {
  text-align: center;
  padding-top: 10px;
}

button {
  &.ra21-button, &.ra21-button:active {
    width: calc(100% - 10px);
    padding: 0;
    background-color: var(--pastel-blue);
    color: var(--white);
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 0 5px var(--pastel-blue);
  }

  &.ra21-button:hover, &.ra21-button:focus, &.ra21-button:active {
    outline: none;
    box-shadow: 0 0 0 1px, 0 0 0 4px var(--pastel-blue);
  }

  .ra21-button  {
    display: flex;
    padding: 4px;
  }
  .ra21-button-logo-wrap {
    text-align: center;
    width: 50px;
    height: 100%;
    border-right: 1px solid var(--white);
    padding: 5px 5px 5px 0;
  }

  .ra21-button-logo {
    width: 30px;
    vertical-align: middle;
  }

  .ra21-button-text {
    padding-left: 10px;
    text-align: center;
    width: 85%;
    color: inherit;
  }

  .ra21-button-text-primary, .ra21-button-text-secondary, .ra21-access-text {
    font-family: 'Libre Franklin', Arial, sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
  }

  .ra21-button-text-primary {
    font-size: 14px;
    font-weight: 700;
  }

  .ra21-button-text-secondary {
    /* Zep */
    font-size: 13px;
    font-weight: normal;
  }
}

a {
  &.ra21-access-text {
    width: 100%;
    /* Zep */
    font-size: 13px;
    line-height: 1.46;
    color: var(--pastel-blue);
  }

  &.ra21-access-text:focus {
    outline: none;
    text-decoration: underline;
  }

  &.ra21-access-text:hover {
    color: var(--primary-blue);
    text-decoration: underline;
  }
}
