/* Font */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,700');


/* Color palette */
:root {
  --white: #ffffff;
  --text-grey: #444444;
  --warm-grey: #767676;
  --white-two: #f6f6f6;
  --footer-grey: #ebebeb;
  --primary-blue: #0079ff;
  --white-50: rgba(255, 255, 255, 0.5);
  --white-three: #e6e6e6;

  --warm-grey-two: #bfbfbf;
}

/* Base */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--white-two);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.center {
	text-align: center;
}


/* Text styles */
p, a {
  /* Zep */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: var(--warm-grey);

  text-decoration: none;
}

a {
  /* Zep */
  color: var(--primary-blue);
}

.btn {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  /* border: solid 1px var(--footer-grey); */
  margin-bottom: 5px;
  font-size: 13px;
}

.btn .collapse.in {
  display: inline-block;
}

.btn .collapse {
  display: none;
}

.btn-light {
  background-color: var(--white-two);
  color: var(--warm-grey);
}

h1 {
  /* Zep */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: var(--text-grey);
  margin-bottom: 0px;
}

h2 {
  /* Zep */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--text-grey);
  margin: 5px 0 20px 0;
}

h3 {
  /* Zep */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: var(--warm-grey);
}

.H2-inactive-text {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(68, 68, 68, 0.66);
}

.bold {
	font-weight: 700;
	margin-bottom: 5px;
}


/* Structure */
.container {
  display: flex;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  padding: 2em 2em 2.25em 2em;

  /* Master Width Definition */
  max-width: 500px;
  min-height: 350px !important;

  /* Zep */
  border-radius: 5px;
  border: solid 1px rgba(187, 187, 187, 0.33);
  background-color: var(--white);
  box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
}

.content {
	min-height: 75%;
}

header {
	height: 70px;
}

header p {
	color:var(--text-grey);
}


footer {
  height: 200px;
  background-color: var(--footer-grey);
  margin-top: 40px;
  padding: 20px 20px 0 20px;
}

.footer-credential {
	margin: 0 auto;
	text-align: center;
}

.footer-pill {
  padding: 8px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: var(--text-grey);
  font-weight: 700;
  color: #ffffff;
}

.footer-ra21-logo {
	width: 20px;
	vertical-align: middle;
    margin: 0 3px 5px 0;
}

.header-ra21-logo {
	width: 32px;
	vertical-align: middle;
    margin: 0 15px 3px 0;
}

.account {
  font-size: 13px;
  padding: 10px 0px 20px 20px ;
}

.account-pill {
  padding: 5px;
  border-radius: 3px;
  border: solid 1px rgba(68, 68, 68, 0.5);
  font-weight: 700;
  margin-left: 3px;
}

/* Form */
form {
	margin-bottom: 2em;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

input {
  padding: 10px;

  /* Zep */
  height: 48px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 2px rgba(25, 134, 255, 0.29);
  border: solid 1px #0077ff;
  background-color: var(--white);
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-grey);
}

.search {
	position: relative;
}

.search input {
	width: 100%;
}

.search .material-icons {
  position: absolute;
  top: 12px;
  right: 7px;
  font-size: 24px;
  color: var(--primary-blue);
}

.search .fa {
  position: absolute;
  top: 14px;
  right: 10px;
  font-size: 20px;
  color: var(--primary-blue);
}


.signup-message {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

ul {
  font-family: 'Libre Franklin', sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a:hover {
  color: var(--primary-blue);
}

/* Primary Name Match/Non-Match Classes */
.primary {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  margin: 0;
  color: var(--text-grey);
}

.primary .match {
  font-weight: 700;
}

.secondary {
  display: block;

  /* Zep */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: var(--warm-grey);
}

.examples {
  padding-top: 15px;
}

.edit ul:before {
	border: none;
	margin: 0;
}

.edit ul li:after {
  content: "";
  display: block;
  margin: 3px 0 3px 0;
  border: none;
}

.edit li.institution {
  border: solid 1px var(--primary-blue);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.top-right {
	top:0;
	float: right;
}

.results i {
	float: right;
	color: var(--primary-blue);
}

.search-list .primary {
  font-weight: normal;
}

.search-list a li {
  border-bottom: 1px solid rgba(118, 118, 118, 0.2);
  cursor: pointer;
  min-height: 4rem;
  padding-bottom: 15px;
  padding-top: 15px;
}

.search-list a:first-child li {
  border-top: 1px solid rgba(118, 118, 118, 0.2);
}

.institution:hover i.arrow {
  color: var(--primary-blue);
  display: block;
}

.choose li.institution {
  border-bottom: 1px solid rgba(118, 118, 118, 0.2);
  cursor: pointer;
  padding-bottom: 15px;
  padding-top: 15px;
}

.choose a:first-child li{
  border-top: 1px solid rgba(118, 118, 118, 0.2);
}

.institution:hover .primary {
	color: var(--primary-blue);
}

.institution .label {
  max-width: 80%;
}

.institution .label-url {
  height: 1rem;
  max-width: 200px;
}

.edit .institution:hover .primary {
	color: var(--text-grey);
}

.edit .institution:hover .institution-text {
	opacity: 0.5;
}

.edit .institution:hover .institution-icon {
	opacity: 0.5;
}

.item-fade {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.institution-circle {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  border: 2px solid #F0F0F0;
}

.institution-circle img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  object-fit: cover;
  min-width: 40px;
}

.institution-icon {
	float: left;
	width: 42px;
	margin-right: 10px;
}

.institution-icon img {
	width: 42px;
	display: block;
}

.institution-icon svg {
	width: 42px;
	display: block;
}

.institution-text  {
    display: block;
    overflow: hidden
}

i.arrow {
	padding-top: 10px;
	padding-right: 7px;
	font-size: 1.4rem;
	display: none;
}

.choose i.arrow {
  color: var(--warm-grey-two);
  display: block;
  padding-top: 5px;
}

.link-bar {
  margin: 15px 0 3px 0;
}

.link-bar i {
  font-size: 14px;
  vertical-align: middle;
  margin-bottom: 3px;
}

/* Alerts */

.type-ahead-alert, .no-results-alert {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--white-two);
  color: var(--text-grey);
  text-align: center;
}

.no-results-alert {
  text-align: left;
}

.no-results-alert h3 {
  color: var(--text-grey);
}

.no-results-alert ul {
  list-style-type:square;
  margin: 0 0 0 20px;
  padding: 0;

  /* Zep */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: var(--text-grey);
}

.no-results-alert li {
  border: none;
  padding: 0 0 5px 0;
}

.type-ahead-alert p, .no-results-alert p {
  color: var(--text-grey);
  margin-bottom: 10px;
  margin-top: 10px;
}

.no-results ul, .no-results-alert h2 {
  color: var(--text-grey);
}

.no-results ul li {
    padding-top: 0px;
}


/* Loader */

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}

.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: var(--primary-blue);
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.d-none {
  display: none;
}

.display-block {
  display: block;
}