@import "./main";

/* Base */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--white-two);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*, *::before, *::after {
  box-sizing: border-box;
}

p, a, h1, h2, h3, .H2-inactive-text, input, ul, li, .primary, .secondary, label, legend {
  font-family: 'Libre Franklin', Arial, sans-serif;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.align-left, .left {
	float: left;
}
.align-right, .right {
	float: right;
}

.center {
	text-align: center;
}

/* Text styles */
p, a {
  /* Zep */
  font-size: 13px;
  font-weight: normal;
  line-height: 1.46;
  color: var(--warm-grey);

  text-decoration: none;
}

a {
  /* Zep */
  color: var(--primary-blue);
}

.btn {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  /* border: solid 1px var(--footer-grey); */
  margin-bottom: 5px;
  font-size: 13px;

  .collapse {
    display: none;
    &.in {
      display: inline-block;
    }
  }
}

.btn-light {
  background-color: var(--white-two);
  color: var(--warm-grey);
}

.btn-blue {
  background-color: var(--primary-blue);
  color: var(--white-two);

  &:hover {
    background-color: var(--secondary-blue);
  }

  &:active {
    background-color: var(--primary-blue);
    border: 2px solid var(--secondary-blue);
  }
}

h1, h2, h3, legend {
  color: var(--text-grey);
}

h1 {
  /* Zep */
  font-size: 24px;
  font-weight: bold;
  line-height: 1.17;
  margin-bottom: 0px;
}

h2, .type-ahead-alert p, .type-ahead-alert a {
  /* Zep */
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  margin: 5px 0 20px 0;
}

h3, legend {
  /* Zep */
  font-size: 13px;
  font-weight: normal;
  line-height: 1.46;
}

.H2-inactive-text {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  color: rgba(68, 68, 68, 0.66);
}

.bold {
	font-weight: 700;
	margin-bottom: 5px;
}

/* Structure */
.container {
  display: flex;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  padding: 2em 2em 2.25em 2em;

  /* Master Width Definition */
  max-width: 500px;
  min-height: 350px !important;

  /* Zep */
  border-radius: 5px;
  border: solid 1px rgba(187, 187, 187, 0.33);
  background-color: var(--white);
  box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
}

.content {
	min-height: 75%;
}

header {
	height: 70px;
}

header p {
	color:var(--text-grey);
}


footer {
  max-height: 70px;
  background-color: var(--footer-grey);
  margin-top: 60px;
  padding: 20px;
}

.footer-credential {
	margin: 0 auto;
	text-align: center;

    #locale-selector {
        border: none;
        background: transparent;
        color: var(--primary-blue);
    }
}

.footer-pill {
  padding: 8px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: transparent;
  font-weight: 700;
  color: #ffffff;
}

.footer-ra21-logo {
  width: 100px;
  vertical-align: middle;
  margin: 0 20px 0 0;
}

.header-ra21-logo {
	width: 32px;
	vertical-align: middle;
    margin: 0 15px 3px 0;
}

.account {
  font-size: 13px;
  padding: 10px 0px 20px 20px ;
}

.account-pill {
  padding: 5px;
  border-radius: 3px;
  border: solid 1px rgba(68, 68, 68, 0.5);
  font-weight: 700;
  margin-left: 3px;
}

/* Form */
form {
  margin-bottom: 2em;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

input {
  padding: 10px;

  /* Zep */
  height: 48px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 2px rgba(25, 134, 255, 0.29);
  border: solid 1px #0077ff;
  background-color: var(--white);
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: var(--text-grey);
}

.custom-checkbox > .custom-control-input {
  height: 100%;
  padding-top: 10px;
}

.custom-checkbox > .custom-control-label {
  display: inline-block;
  float: right;
  clear: left;
  margin-left: 5px;
  margin-top:0px;
}

.search {
	position: relative;
}

#search, .search, .search input {
	width: 100%;
}

.form-content legend {
  margin-top: 13px;
}

.search .fa-magnifying-glass {
  position: absolute;
  top: 14px;
  right: 10px;
  font-size: 20px;
  color: var(--primary-blue);
}


.signup-message {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a:hover {
  color: var(--primary-blue);
}

/* Primary Name Match/Non-Match Classes */
.primary {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.43;
  margin: 0;
  color: var(--text-grey);
}

.primary .match {
  font-weight: 700;
}

.secondary {
  display: block;

  /* Zep */
  font-size: 13px;
  font-weight: normal;
  line-height: 1.46;
  color: var(--warm-grey);
}

.examples {
  padding-top: 15px;
}

.top-right {
	top:  -5px;
    right: 0;
    position: absolute;
}

.institution i {
	float: right;
	color: var(--primary-blue);
}

.search-list, .choose, .edit {
  .primary {
    font-weight: normal;
  }

  li {
    border-bottom: 1px solid rgba(118, 118, 118, 0.2);
    cursor: pointer;
    min-height: 4rem;
    padding-bottom: 15px;
    padding-top: 12px;
  }

  li:first-child {
    border-top: 1px solid rgba(118, 118, 118, 0.2);
  }
}

.edit {
  .list-item-warning {
    display: none
  }

  .top-right {
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    svg {
      right: 10px;
      position: absolute;
    }
  }


  li, li:first-child {
    border: solid 1px var(--primary-blue);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

.results {
  &.choose, &.search-list {
    .list-item-legend {
      i {
        color: rgba(255, 184, 0, 1)
      }
    }

    .list-item {
      .list-item-legend {
        display: none;
      }
    }

    .list-item:hover {
      .list-item-legend {
        display: block;
      }
    }

    .institution:hover {
      i.arrow {
        right: 0;
        width: 12px;
        margin-right: 20px;
        color: var(--primary-blue);
        display: block;
        position: absolute;
      }

      i.list-item-warning {
        display: none
      }

      .primary {
        color: var(--primary-blue);
      }
    }

    .institution-warning {
      background: lightgray;
    }

    li.institution {
      border-bottom: 1px solid rgba(118, 118, 118, 0.2);
      cursor: pointer;
      padding-bottom: 15px;
      padding-top: 15px;
    }

    a:first-child li{
      border-top: 1px solid rgba(118, 118, 118, 0.2);
    }
  }
}

input, .identityprovider {
  &:focus, &:focus, &:active,, &:focus-visible {
    outline: var(--secondary-blue);
    border-color: var(--secondary-blue);
  }
}

.institution {
  position: relative;

  .label {
    max-width: 80%;
  }

  .label-url {
    height: 1rem;
    max-width: 200px;
  }
}

.edit {
  .institution:hover {
    .primary {
      color: var(--text-grey);
    }

    .institution-text {
      opacity: 0.5;
    }

    .institution-icon {
      opacity: 0.5;
    }
  }

  ul:before {
    border: none;
    margin: 0;
  }

  ul li:after {
    content: "";
    display: block;
    margin: 3px 0 3px 0;
    border: none;
  }

  li.institution {
    border: solid 1px var(--primary-blue);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}

.item-fade {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.institution-mask {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-right: 10px;

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    object-fit: contain;
    min-width: 40px;
    margin-left: 0px;
  }
}

.institution-circle img {
  display: inline;
  min-width: 100%;
  width: auto;
  height: auto;
  max-height: 40px;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
}

.institution-icon {
	float: left;
	width: 40px;
	margin-right: 10px;

    img {
      width: 40px;
      display: block;
    }

    i {
      width: 40px;
      display: block;
    }
}

.institution-text  {
    display: block;
    overflow: hidden
}

i.arrow {
	padding-top: 4px;
	padding-right: 7px;
	font-size: 1.4rem;
	display: none;
}

i.list-item-warning {
  color: rgba(133, 99, 29, 1);
  font-size: 16px;
}

.link-bar {
  margin: 15px 0 3px 0;

  i {
    font-size: 14px;
    vertical-align: middle;
    margin-bottom: 3px;
  }
}

/* Alerts */

.type-ahead-alert, .no-results-alert {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--white-two);
  color: var(--text-grey);
  text-align: center;
}

.warning-banner {
  border: 1px solid rgb(133, 99, 29);
  background: rgb(245, 245, 245);
  border-radius: 2px;
}

.no-results-alert {
  text-align: left;

  h3, legend {
    color: var(--text-grey);
  }

  ul {
    list-style-type: square;
    margin: 0 0 0 20px;
    padding: 0;

    /* Zep */
    font-size: 13px;
    font-weight: normal;
    line-height: 1.46;
    color: var(--text-grey);
  }

  li {
    border: none;
    height: auto;
    min-height: auto;
    padding: 0 0 5px 0;
  }
}

.type-ahead-alert p, .no-results-alert p {
  color: var(--text-grey);
  margin-bottom: 10px;
  margin-top: 10px;
}

.no-results ul, .no-results-alert h2 {
  color: var(--text-grey);

  li {
    padding-top: 0px;
  }
}

/* Loader */

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;

  &:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: var(--primary-blue);
    animation: loading 2s linear infinite;
  }
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.d-none {
  display: none;
}

.display-block {
  display: block;
}

#language-selector {
  background-color: transparent;
  border: none;
  padding: 0 0 0 0.75rem;
  color: var(--primary-blue)
}

.horizontal-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  .horizontal-header-item {
    flex: none;
  }
}

.warning-header {
  padding: 4px;
  border-radius: 3px;
  margin-left: 2rem;
  border: 1px solid rgb(133, 99, 29);
  background: #fff2d5;

  a#discovery-response-warning-header-link {
    font-size: 13px;
    color: var(--text-grey);
    text-decoration: underline;
  }
}

.warning-fa-item {
  color: rgb(133, 99, 29);
  margin-right: .6rem;
  margin-left: .3rem;
}

#discovery-response-warning {
  border-radius: 3px;
  border: 1px solid rgb(133, 99, 29);
  background: #fff2d5;
  min-height: auto !important;

  #discovery-response-warning-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .discovery-response-warning-item {
      flex: none;

      .discovery-response-warning-title {
        font-weight: 700;
        margin-left: 1rem;
      }
    }

    .discovery-response-warning-text {
      margin-left: 2rem;
    }
  }
}
