:root {
  --white: #ffffff;
  --text-grey: #444444;
  --warm-grey: #767676;
  --warm-grey-two: #bfbfbf;
  --white-two: #f6f6f6;
  --footer-grey: #ebebeb;
  --primary-blue: #0079ff;
  --white-50: rgba(255, 255, 255, 0.5);
  --white-three: #e6e6e6;
}

.ra21-button {
  background-color: var(--primary-blue);
  border-radius: 5px;
  color: var(--warm-grey);
  cursor: pointer;
  display: flex;
  margin-bottom: 5px;
  padding: 10px;
  text-decoration: none;
}

.ra21-button-logo-wrap {
  text-align: center;
  width: 50px;
  height: 100%;
  border-right: 1px solid #FFFFFF;
  padding: 5px 5px 5px 0;
}

.ra21-button-logo {
  width: 30px;
  vertical-align: middle;
}

.ra21-button-text {
  padding-left: 10px;
  text-align: center;
  width: 85%;
  color: var(--white);
}

.ra21-button-text-primary {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.ra21-button-text-secondary {
  /* Zep */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.ra21-access-text {
  cursor: pointer;
  text-align: center;

  /* Zep */
  font-family: 'Libre Franklin', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  color: var(--primary-blue);
}

.ra21-cta-plus, .ra21-cta-access {
  display: inline;
}

.light-grey {
  color: var(--warm-grey-two);
}
