:root {
  --white: rgba(255, 255, 255, 1);
  --primary-blue: rgba(0, 121, 255, 1);
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sa-button, .sa-access-text {
  font-family: Arial, sans-serif;
  line-height: 1.4;
}

.sa-button {
  cursor: pointer;
  background-color: var(--primary-blue);
  border-radius: 5px;
  padding: 9px;
}

.sa-button-logo-wrap {
  text-align: center;
  width: 50px;
  height: 100%;
  border-right: 1px solid var(--white);
  padding: 5px 5px 5px 0;
}

.sa-button-logo {
  width: 30px;
  vertical-align: middle;
}

.sa-button-text {
  padding-left: 10px;
  text-align: center;
  width: 85%;
  color: var(--white);
}

.sa-button-text-primary {
  font-size: 14px;
  font-weight: 700;
}

.sa-access-text {
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.46;
  color: var(--primary-blue);
}

.sa-cta-access, .sa-cta-plus {
  display: inline;
  padding: 0 3px;
}

.sa-cta-plus > img {
  height: 13px
}
