<!DOCTYPE html>
<html lang="en">
   <head>
	   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	   <title>Get access to <span class="sp_title">TODO - fixme</span></title>

	   <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	   <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch"></script -->
	</head>

<body class="site">
	
	<main>
		<header>
			<h2 class="accessHeader account">
				<img alt="" class="header-ra21-logo" src="<%= require('../assets/RA21-Black.svg') %>"/><span class="light">Access to</span>
				<span class="sp_title account-pill">TODO:fixme American Chemical Society</span>
			</h2>
		</header>
		
	
    <div class="card card-container">
      <div class="collapse" id="titlefind">
				<h1>Find Your Institution</h1>
				<h2 class="subtitleRA21">Your university, organization or company</h2>
			</div>

			<div class="collapse" id="titlechoose">
				<h1>Choose Your Institution
					<p class="subtitleRA21">Recent institutions</p>
				</h1>
			</div>

          <div id="dsclient"
                     data-mdq="<%= process.env.MDQ_URL %>"
                     data-persistence="<%= process.env.PERSISTENCE_URL %>"
                     data-search="<%= process.env.SEARCH_URL %>"
                     data-inputfieldselector="#searchinput">
			  <ul class="card-links" id="ds-saved-choices">
				  <div class="collapse" id="addwidget">
					  <a data-toggle="collapse" href="#searchwidget" role="button" aria-expanded="false" aria-controls="searchwidget">
						  <li><span class="label">Choose another</span><i id="add_circle" class="float-right fa fa-plus-circle"></i></li>
					  </a>
				  </div>
			  </ul>
			  <div class="collapse" id="searchwidget">
				  <div class="input-group" role="button">
					<input type="text" id="searchinput" type="search" class="form-control" placeholder="" aria-label="input group" aria-describedby="btnGroupAddon" autofocus>
					<div class="find-button-wrapper">
						<button type="button" id="findbutton" class="btn" aria-describedby="btnGroupAddon"><i class="fa fa-search"></i></button>
					</div>
				  </div>
				  <p id="examples" class="detailtextRA21">Examples: Science Institute, Lee@YourInstitution.edu, UCLA</p>
			  </div>

			  <div class="collapse" id="resultwidget">
					<div class="card-header" id="wefoundresults">
						<h3>We found these institutions<span id="count" class="float-right badge badge-pill badge-success">0</span></h3>
					</div>
					<ul class="card-links" id="ds-search-list">
							<li class="collapse" id="searching">
								<h3>Searching for institutions...</h3>
								<div class="loader"></div>
							</li>
							<li>
									<div class="collapse alert mt-3 no-results-alert" id="no_results" role="alert">
											<h3 class="bold">No matching institutions found</h3>
											<ul>
													<li>Try entering an institution name, abbreviation or your institution email</li>
													<li>Try accessing through your library website</li>
													<li>Contact your librarian</li>
											</ul>
									</div>
							</li>
					</ul>
			  </div>
      </div>
    </div><!-- /card-container -->
	</main>
	
	<footer>
		<div class="footer-credential">
			<p>
				<span class="footer-pill">
					<img class="footer-ra21-logo" src="<%= require('../assets/RA21-White.svg') %>">
					RA21
				</span>
				Resource Access for the 21st Century
				<a href="">About Us</a>
			</p>
		</div>
	</footer>

</body>
	
</html>
