<!DOCTYPE html>
<html lang="en">
   <head>
	   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	   <title class="sp_title"></title>
	</head>

<body class="site">

	<header>
		<h2 class="accessHeader account">
			<img alt="" class="header-ra21-logo" src="<%= require('../assets/RA21-Black.svg') %>"/><span class="light">Access to</span>
			<span class="sp_title account-pill"></span>
		</h2>
	</header>
	<main class="content">
		<div class="container" id="dsclient">
			<!-- choose -->
			<div class="d-none" id="choose">
				<h1>Choose Your Institution</h1>
				<h2>Recent institutions</h2>
				<div class="results choose" id="savedchoices">
					<ul id="ds-saved-choices"></ul>
				</div>
				<div id="choosetools" class="link-bar">
					<a id="add_button" href="#"
					   class="alignleft"
					   role="button"
					   aria-expanded="false"><i class="fa fa-plus-square"></i> Add another institution</a>
					<a id="edit_button" href="#"
					   class="alignright"
					   role="button"
					   aria-expanded="false"><i class="fa fa-pen"></i> Edit</a>
				</div>
				<a id="done_button" role="button" class="d-none center btn btn-block btn-light" href="#">Done</a>
			</div>

			<!-- search -->
			<div class="d-none" id="search">
				<h1>Find Your Institution</h1>
				<h2>Your university, organization or company</h2>
				<form>
					<div class="form-content">
						<div class="search">
							<i class="fa fa-search"></i>
							<input tabindex="0" type="text" autocomplete="off" id="searchinput" type="search" placeholder="" aria-label="search" autofocus>
						</div>
						<h3>Examples: Science Institute, Lee@uni.edu, UCLA</h3>
						<div class="d-none" id="searching">
							<h3>Searching for institutions...</h3>
							<div class="loader"></div>
						</div>
					</div>
				</form>
				<div class="results search-list" id="resultwidget">
					<ul id="ds-search-list"></ul>
				</div>
			</div>

      	</div>
	</main>

	<footer>
		<div class="footer-credential">
			<p>
				<span class="footer-pill">
					<img class="footer-ra21-logo" src="<%= require('../assets/RA21-White.svg') %>">
					RA21
				</span>
				Resource Access for the 21st Century
				<a href="https://ra21.org/index.php/what-is-ra21/">About Us</a>
			</p>
		</div>
	</footer>

</body>

</html>
